@import url('https://fonts.googleapis.com/css2?family=Gugi');
.mainpage{
    width: 90%; height: 100vh;margin: auto; font-family: Gugi cursive;
}
.mainpage h1{
    margin: 0px; padding: 20px 0; text-align: center;
}
.avt-main img {
  width: 200px;
  height: 150px;
}
